[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pylama = "*"
black = "*"

[packages]
sqlalchemy = "*"
argparse = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
